################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BranchEditor/v14
/Debug
/GeneratedFiles
/x64/Debug
*.db
v2/.vs/BranchEditor2/v14/.suo
/v2/GeneratedFiles
/v2/x64/Debug
*.opendb
/v2/x64/Release
/v3/x64
/v3/GeneratedFiles
/v3/Debug
/v3/.vs/BranchEditor3/v14
/v3/123.xgr
/v3/11.xgr
/build-BranchEditor3-Desktop_Qt_5_6_1_MinGW_32bit-Release
/v3/BranchEditor3.pro.user
/v3/wikiriots.gexf
/v3/unchanged.gexf
/v3/merged.gexf
/v3/dh11.gexf
*.graphml
*.gdf
*.gexf
*.gml
/build-BranchEditor3-Desktop_Qt_5_7_0_MSVC2015_64bit-Release
/v3/bigone.xgr
/v3/_out_
*.o
/build-BranchEditor3-Qt_5_7_MinGW_32bit-Debug/debug
/build-BranchEditor3-Qt_5_7_MinGW_32bit-Debug/.qmake.stash
/build-BranchEditor3-Qt_5_7_MinGW_32bit-Debug
/build-BranchEditor3-Qt_5_7_MinGW_32bit-Release
/build-BranchEditor3-Qt_5_7_MSVC_2015_64bit-Release
/nets
/v3/qvge_doc/html
/v3/ClassDiagram.cd
/v3/BranchEditor3.pro.user.b87520
/v3/BranchEditor3.pro.user.a87520
/v3/BranchEditor3.pro.user.187520
*.user
/v3/build-app-Qt_5_7_MinGW_32bit-Debug
*.xgr
_builds
/dpss/bin.mingw_debug
/dpss/bin.msvc
/dpss/bin.msvc_debug
/dpss/build-dpss-Qt_5_7_MinGW_32bit-Debug
/dpss/build-dpss-Qt_5_7_MSVC_2015_64bit-Debug
/dpss/build-dpss-Qt_5_7_MSVC_2015_64bit-Release
/dpss/data/test/Graph.txt
/dpss/bin.mingw
/dpss/build-dpss-Qt_5_7_MinGW_32bit-Release
/dpss/src/build-qvgeapp-Desktop_Qt_5_7_0_MSVC2015_64bit-Release
/dpss/src/build-qvgeapp-Qt_5_7_MinGW_32bit-Debug
*.c10008
*.obj
/dpss/build-dpss-Desktop_Qt_5_9_0_MSVC2015_64bit-Release
/dpss/build-dpss-Qt_5_9_MinGW_32bit-Release
/dpss/build-dpss-Qt_5_9_MinGW_32bit-Debug
